<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Google Map</title>
    <style>
        #map{
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>My Google Map</h1>
    <div id ="map"></div>
    <script>
        function initMap(){
            // Map options
            var location1 = {lat:36.0047581,lng:-78.95251150000001};
            var options = {
                zoom:13,
                center: location1
            };
            // new map
            var map1 = new google.maps.Map(document.getElementById('map'), options);
            // add marker
            var location2 = {lat:36.0050735,lng:-78.9500214};
            var marker1 = new google.maps.Marker({
                position: location1,
                map: map1
            });
            var marker2 = new google.maps.Marker({
                position: location2,
                map: map1
            });
            var location3 = {lat:36.0040319,lng:-78.9500214};
            var marker3 = new google.maps.Marker({
                position: location3,
                map: map1
            });
            
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfIU78gDkH9ojIVo72EzdUf6rDxEIVSs&callback=initMap">
    </script>
    </script>
    

</body>
</html>